<app-carousel appScroll></app-carousel>
<app-intro-section appScroll></app-intro-section>
<app-about-section appScroll></app-about-section>
<app-services-section appScroll></app-services-section>
<app-menu-presentation-section appScroll></app-menu-presentation-section>
<app-gallery-section appScroll></app-gallery-section>
<app-counter-section appScroll></app-counter-section>
<app-menu-section appScroll></app-menu-section>
<app-blog-articles-section appScroll></app-blog-articles-section>
<app-contact-us-section appScroll></app-contact-us-section>
